input {
    font-size: 15px;
    padding: 5px;
}

button {
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
}
select {
    padding: 5px;
}

input + input,
input + button,
select + .checkbox-component {
    margin-top: 10px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: auto;
}
button + button {
    margin-left: 5px;
}

.checkbox-component {
    display: flex;
    flex-direction: row;
}
.checkbox-component input {
    margin-right: 10px;
}