input {
    font-size: 15px;
    padding: 5px;
}

button {
    color: white;
    background-color: #778de1;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #94aafb;
}
button:active {
    background-color: #788bd3;
}
button:disabled {
    color: #d7d7d7;
    background-color: #6774a7;
    cursor: inherit;
}
select,
label  {
    font-size: 15px;
    padding: 5px;
}

input + input,
input + button,
input + .inputlabel,
select + .checkbox-component {
    margin-top: 10px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: auto;
}
button + button {
    margin-left: 5px;
}

.checkbox-component {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.checkbox-component input {
    margin-right: 10px;
}

.info-ul {
    padding: 5px;
}
.info-li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    word-break: break-word;
    white-space: pre-wrap;
    height: auto;
}
.info-li .info-label {
    font-size: 15px;
    color: gray;
    margin-right: 10px;
    width: 200px;
}
.info-li .info-value {
    font-size: 15px;
    color: black;
}
.info-li + .info-li {
    margin-top: 10px;
    border-top: 1px solid lightgray;
    padding-top: 5px;
}

header {
    color: white;
}