body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#root {
    max-width: 640px;
    height: 500px;
    padding: 30px 15px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
}
.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
form {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
